/* Body */
html {
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #1a182b;
}

.content {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Links */
.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.links > div {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.link-pad {
  width: 20%;
}

.link-image {
  position: absolute;
  top: 50%;
  width: 100%;
  fill: #6e5494;
  transition: fill 0.3s ease;
  transform: translate(-50%, -50%);
}

.link-image:hover {
  fill: #FFFFFF;
  transition: fill 0.1s ease;
  cursor: pointer;
}

/* Hover over popup */
.hidden {
  display: none;
}

#popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 1.0);
  color: white;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
}

/* Clipboard image */
#clipboardImg {
  position: absolute;
  pointer-events: none;
  animation: fadeOut 1s forwards;
  opacity: 0;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* README link */
.readme {
  display: flex;
  padding-top: 2rem;
}

.readme > a {
  color: #ccccff;
  text-decoration: none;
}

.readme > a:hover {
  color: #ffffff;
}
