/* Body */
body {
  background-color: #1a182b;
}

.content {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Logo */
.logo {
  width: 20rem;
}

/* Title */
.title {
  font-size: 10rem;
  font-family: sans-serif;
  padding-bottom: 1rem;
  color: white;
}

/* Links */
.links {
  display: flex;
  justify-content: space-between;
}

.links > div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.link-image {
  height: 10rem;
  width: 10rem;
  fill: #6e5494;
  transition: fill 0.3s ease;
}

.link-image:hover {
  fill: #FFFFFF;
  transition: fill 0.1s ease;
  cursor: pointer;
}

/* Hover over popup */
.hidden {
  display: none;
}

#popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 1.0);
  color: white;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
}

/* Clipboard image */
#clipboardImg {
  position: absolute;
  pointer-events: none;
  animation: fadeOut 1s forwards;
  opacity: 0;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
